.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.form__box {
    flex: 1;
}

.form__footer {
    flex-shrink: 0;
}

.form__logo-link {
    width: 38px;
    height: 38px;
}

.form__logo-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.form__logo {
    width: 38px;
    height: 38px;
    margin-top: 56px;
}

.form__title {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 46px;
    margin-bottom: 80px;
}

.form__label {
    color: #A0A0A0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-bottom: 10px;
}

.form__container {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.form__element {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.form__input {
    border: none;
    border-radius: 8px;
    background-color: #F9F9F9;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
}

.form__input:focus {
    outline: 2px solid #F3C1F8;
}

.form__error {
    color: #FF4062;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    padding: 7px 0 5px;
    margin-bottom: 10px;
}

.form__button-submit {
    width: 260px;
    height: 45px;
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    margin-bottom: 14px;
}

.form__button-submit:hover {
    cursor: pointer;
    opacity: 0.7;
}

.form__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form__message {
    margin: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 7px;
}

.form__navlink {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.form__navlink:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (min-width: 768px) {

    .form__box {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 232px;
        margin-bottom: 55px;
    }

    .form__logo {
        margin: 0;
    }

    .form__title {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .form__container {
        width: 396px;
    }

    .form__input {
        width: 370px;
        padding: 15px;
    }

    .form__error {
        padding: 8px 0 8px;
        margin-bottom: 6px;
    }

    .form__button-submit {
        width: 396px;
        margin-bottom: 16px;
        font-size: 14px;
    }

    .form__message {
        font-size: 14px;
        margin-right: 6px;
    }

    .form__navlink {
        font-size: 14px;
    }

}

@media screen and (min-width: 1280px) {

    .form__box {
        margin-bottom: 56px;
        padding-top: 70px;
    }

    .form__navigation {
        margin-bottom: 70px;
    }
}