.not-found {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found__title {
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.not-found__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 10px;
}

.not-found__box {
  margin-top: 329px;
  flex: 1;
}

.not-found__link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-decoration: none;
  color: black;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.not-found__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .not-found__title {
    font-size: 140px;
  }

  .not-found__text {
    font-size: 16px;
    margin-top: 5px;
  }

  .not-found__box {
    margin-top: 408px;
  }

  .not-found__link {
    font-size: 14px;
    margin-bottom: 222px;
  }
}

@media screen and (min-width: 1280px) {
  .not-found__box {
    margin-top: 246px;
  }

  .not-found__link {
    margin-bottom: 60px;
  }
}
