.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 45px;
}

.search__container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 17px 16px;
    border-radius: 9px;
    margin-bottom: 46px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    width: 85%;
}

.search__container:hover {
    background: #FDFDFD;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.2);
}

.search__input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    box-shadow: none;
    margin-right: 10px;
}

.search__input:hover {
    box-shadow: none;
    border: none;
}

.search__input:focus {
    outline: 1px solid #F3C1F8;
}

.search__lens {
    display: none;
}

.search__input::placeholder {
    color: #A0A0A0;
}

.search__button {
    padding: 8px 14px;
    width: 58px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight: 500;
    line-height: 18px;
    transition: opacity .2s linear;
    margin-right: 6px;
}

.search__button:hover {
    opacity: .5;
    cursor: pointer;
}

.search__short-films {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__type {
    margin: 0 0 0 14px;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
}

.search__label {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 15px;
    filter: drop-shadow(0 2px 2px #e5e5e8);
    cursor: pointer;
}

.search__label:hover{
    opacity: 0.7;
}

.search__checkbox {
    display: none;
}

.search__ellipse {
    position: absolute;
    inset: 0;
    background-color: #2BE080;
    border-radius: 16px;
    transition: .6s;
    transform: scale(-1, -1);
}

.search__ellipse::before {
    position: absolute;
    content: '';
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.search__checkbox:checked+.search__ellipse {
    background-color: #EBEBEB;
}

.search__checkbox:checked+.search__ellipse::before {
    transform: translateX(20px);
}

@media screen and (min-width: 768px) {
    .search {
        flex-direction: row;
        margin: 80px 30px 0;
        padding: 19px;
        padding-top: 16px;
        border-radius: 9px;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    }

    .search__container {
        width: 100%;
        padding: 0;
        border-radius: 0;
        padding-right: 21px;
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        border-right: 1px solid #CBCBCB;
    }

    .search__container:hover {
        box-shadow: none;
    }

    .search:hover {
        background: #FDFDFD;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.2);
    }

    .search__button {
        padding: 8px 14px;
        width: 58px;
        margin-right: 0;
    }

    .search__lens {
        display: block;
        margin-right: 10px;
        height: 34px;
        width: 34px;
    }

    .search__input {
        padding: 0;
        font-size: 18px;
        line-height: 20px;
        box-shadow: none;
        border: none;
    }

    .search__input:hover {
        box-shadow: none;
        border: none;
    }

    .search__short-films {
        margin-left: 19px;
    }

    .search__type {
        margin: 0 0 0 15px;
        font-size: 13px;
    }
}

@media screen and (min-width: 1280px) {
    .search {
        margin: 70px 70px 0;
        max-width: 1140px;
        padding-right: 28px;
    }

    .search__container {
        padding-right: 30px;
    }

    .search__short-films {
        margin-left: 19px;
    }

}