.header {
    display: flex;
    justify-content: space-between;
}

.header_main {
    background-color: #F3C1F8;
}

.header__logo {
    margin-top: 17px;
    margin-left: 14px;
    margin-bottom: 18px;
    width: 38px;
    height: 38px;
}

.header__link:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .header {
        padding-right: 30px;
    }

    .header__logo {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding-right: 70px;
    }

    .header__logo {
        margin-left: 70px;
    }
}